{% if request.user.is_authenticated %}
<div class="w-64 h-screen bg-gray-700">
    <div class="flex items-center justify-center text-white font-medium text-3xl">
        <span class="mt-4">Calendar App</span>
    </div>
    <nav class="mt-10">
        <a class="flex items-center py-2 px-8 {% if request.resolver_match.url_name == 'calendar' %}text-gray-100 bg-gray-700 border-r-4 border-gray-100{% else %}text-gray-400 border-r-4 border-gray-700 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100{% endif %}" href="{% url 'calendarapp:calendar' %}">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
			</svg>
            <span class="mx-4 font-medium">Calendar</span>
        </a>

   		<a class="flex items-center mt-5 py-2 px-8 {% if request.resolver_match.url_name == 'events' %}text-gray-100 bg-gray-700 border-r-4 border-gray-100{% else %}text-gray-400 border-r-4 border-gray-700 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100{% endif %}" href="{% url 'calendarapp:events' %}">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
			</svg>
            <span class="mx-4 font-medium">Your Events</span>
        </a>

        {% if user.is_staff %}
        <a class="flex items-center mt-5 py-2 px-8 {% if request.resolver_match.url_name == 'dashboard' %}text-gray-100 bg-gray-700 border-r-4 border-gray-100{% else %}text-gray-400 border-r-4 border-gray-700 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100{% endif %}" href="{% url 'management:dashboard' %}">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
			</svg>
            <span class="mx-4 font-medium">Supervisor Board</span>
        </a>

        <a class="flex items-center mt-5 py-2 px-8 {% if request.resolver_match.url_name == 'users' %}text-gray-100 bg-gray-700 border-r-4 border-gray-100{% else %}text-gray-400 border-r-4 border-gray-700 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100{% endif %}" href="{% url 'management:users' %}">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <span class="mx-4 font-medium">User Management</span>
        </a>
        {% endif %}

        <a class="flex items-center mt-5 py-2 px-8 {% if request.resolver_match.url_name == 'settings' %}text-gray-100 bg-gray-700 border-r-4 border-gray-100{% else %}text-gray-400 border-r-4 border-gray-700 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100{% endif %}" href="{% url 'management:settings' %}">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            <span class="mx-4 font-medium">Settings</span>
        </a>

    </nav>

    <div class="absolute bottom-0 my-10">
    	<div class="flex items-start px-8">
    		<span id="userName" class="text-gray-300 font-medium">{{ request.user.get_name }}</span>
    	</div>
    	<div class="flex items-end px-8">
    		<a class="text-gray-300 hover:text-gray-500" href="{% url 'accounts:logout' %}">Logout</a>
    	</div>
    </div>      
</div>
{% endif %}